.main{
    width: 320px;
    padding: 50px;
}
.images{
    height: 300px;
    position :relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(44, 208, 230);
}
.text{
    color: gray
}
.main button{
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
    
}